.dashboard{
    background: #fff;
    border-radius: 5px;
    min-height: 50vh;
}
.sidebar{
    min-height: 100%;
    background-color: #12283A;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 50vh;

}